* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Garamond', serif;
  cursor: url("./cursor-2.png") 16 16, auto;
}

.header {
  position: fixed;
  left: 2rem;
  right: 2rem;
  width: fit;
  height: 80px;
  z-index: 10;
  border-radius: 2rem;
  background-color: rgba(245, 245, 245, 0.265);
}

.h_container {
  display: flex;
  padding: 1rem ;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  background: url('./logo.png') no-repeat center center / cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.logo {
  color: hsl(25, 46%, 17%);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_menu {
  display: flex;
  gap: 1.5rem;
}

.nav_link {
  text-decoration: none;
  color: #2F241F;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fef6f0;
  overflow: hidden;
  padding: 2rem;
}

.hero::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 96%;
  height: 55%;
  left: 2rem;
  right: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #f2e1c1;
  opacity: 0.8;
  z-index: 0;
}


.hero-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.hero-brand{
  font-size: 15rem;
  color: transparent;
  font-weight: 1000;
  text-transform: uppercase;
  margin-top: 50px;
  background: linear-gradient(to bottom,#2a1408 0%,#48210c 35%,#61381a 70%,#c78a55 100%);
  opacity: 0.8;
  -webkit-background-clip: text;
  z-index: 3;
}


.hero-bg-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  padding-left: 2rem;
}

.hero-bg-2{
  display: flex;
  position: relative;
  bottom: 50%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-size: cover;
  z-index: 1;
}

.hero-description{
  position: relative;
  top: 40%;
  bottom: 0%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #d49a6e;
  max-width: 500px;
  z-index: 1;
}

.hero-description h2 {
  margin-top: 300px;
  margin-left: 50px;
  font-size: 2.5rem;
  color: #3f2b1c;
  margin-bottom: 1rem;
  z-index: 1;
}

.hero-description p {
  margin-left: 50px;
  font-size: 1.2rem;
  color: #7B4726;
  margin-bottom: 1.5rem;
  z-index: 1;
}


.shop-btn{
  margin-left: 50px;
  background-color: #895127;
  padding: 1rem;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.hero-img-group{
  margin-top: 325px;
  display: flex;
  align-items: center;
  gap: 2rem;
}


.main-cup{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 42%;
  animation: float 4s ease-in-out infinite;
  transition: opacity 0.3s ease-in-out;
  z-index: 4;
}

@keyframes float {
  0% {
    transform: translateY(-50%) rotate(20deg) translateY(0);
  }
  50% {
    transform: translateY(-50%) rotate(20deg) translateY(-20px);
  }
  100% {
    transform: translateY(-50%) rotate(20deg) translateY(0);
  }
}

.cups ul{

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cups li {
  position: relative;
  padding: 0.6rem 0;
}
.cups li img{
  width: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 1.5rem;
  position: relative;
  z-index: 2;
}

.cups li img:hover{
  transform: scale(1.1);
}

/* Categories */
.categories {
  padding: 4rem 2rem;
  background-color: #FFEAC5;
}

.cat_title {
  text-align: center;
  font-family: Garamond, serif;
  color: #4b2e1e;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.cat_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.cat_card {
  width: 450px;
  border: 1px solid #D9D0C1;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
  color: #4b2e1e;
  overflow: hidden;
  opacity: 0;
  animation: slideIn 1s ease forwards;
}

.cat_img {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat_content {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.4;
}

.cat_card:nth-child(1) { animation-delay: 0.2s; }
.cat_card:nth-child(2) { animation-delay: 0.5s; }
.cat_card:nth-child(3) { animation-delay: 0.8s; }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(+100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Blog Section */
.blog-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.blog {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.blog-bg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.blog-box {
  display: flex;
}

.blog-title {
  color: #4b2e1e;
  padding-left: 2rem;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.blog-text {
  color: #4b2e1e;
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  max-width: 700px;
  max-height: fit-content;
}


/* Gallery */

.gallery-section {
  background-color: whitesmoke;
  padding: 40px;
  text-align: center;
}

.gallery-title-svg {
  width: 100%;
  max-width: 800px;
}

.gallery-title-svg text {
  letter-spacing: 3px;
}

.gallery-grid {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 2rem;
  mask-image: url("./image-mask.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}



.gallery-hangings {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.side-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.hanging-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hanging-photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.hanging-photo img:hover {
  transform: scale(1.05);
}


.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  animation: swing1 3s ease-in-out infinite;
  margin-right: 120px;

}

.img-2 {
  animation: swing2 3s ease-in-out infinite;
  margin-left: 120px;

}

@keyframes swing1 {
  0%   { transform: rotate(-8deg); }
  50%  { transform: rotate(8deg); }
  100% { transform: rotate(-8deg); }
}

@keyframes swing2 {
  0%   { transform: rotate(8deg); }
  50%  { transform: rotate(-8deg); }
  100% { transform: rotate(8deg); }
}

/* .hanging-photo:nth-child(odd) img {
  animation-delay: 0.5s;
} */


.footer{
  background-color: #3f2b1c;
  color: #fff9f0;
  padding: 4rem 1rem;
}

.footer .container{
  max-width: 1200px;
  margin: auto;
}

.footer-grid{
  display: flex;
  gap:2rem;
  justify-content: space-between;
}

.brand-section .brand-header{
 display: flex;
 align-items: center;
 gap: 1rem;
}

.brand-logo{
  width: 50px;
  height: 50px;
  background-color: #b2865a;
  border-radius: 50%;
  
}

.logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border-color: #FFEAC5;
  border-style: solid;
}

.brand-name{
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-text{
  padding-top: 1rem;
  max-width: 300px;
  margin-bottom: 1rem;
}
.footer-column{
  /* align-items: center; */
  justify-content: left;
}

.footer-column h3{
  padding-top: 1rem;
  font-size: 1.2rem;
}

.footer-column ul{
  padding-top: 0.5rem;
  list-style: none;
  justify-content: space-between;
}
.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a{
  text-decoration: none;
  color: #f8ddb5;
}

.footer-column:hover{
  color: #d1a06f;
}

.footer-column a:hover{
  color: #dcd8d1;
}

.footer-column li address{
  color: #f8ddb5;
}
.footer-column li address:hover{
  color: #dcd8d1;
}

.social{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.icon1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(209, 160, 111, 0.1);
  color: #fcecd5;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.icon1:hover {
  background-color: rgba(209, 160, 111, 0.3);
  color: #fff9f0;
}
